// bg
$bg-gradient-orange: linear-gradient(
  90deg,
  rgba(255, 122, 46, 1) 0%,
  rgba(255, 105, 41, 1) 100%
);
$bg-light-grey: #f5f5f5;
$bg-grey: #f7f7f7;
$bg-white: #fff;
$bg-dark: #2d3436;
$bg-icon-grey: #dad9e2;
$bg-icon-grey-hover: #c1c0c9;
$bg-not-found-page: #ff6343;
$bg-orange: #ff7a2e;
$bg-blue: #0984e3;
$bg-green: #00b894;
$bg-purple: #6c5ce7;
$bg-disabled-icon: rgba(0,0,0,.12);

// text colors
$text-white: #fff;
$text-title-dark: #262628;
$text-title-light-dark: #2f2f31;
$text-red: #d63031;
$text-blue: #0984e3;
$text-orange: #ff7a2e;
$text-green: #00b894;
$text-purple: #6c5ce7;
$text-disabled-icon: rgba(0,0,0,.26);

// text fonts
$text-main-font: "Comfortaa", sans-serif;

// box shadow color
$blocks-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

// borders
$border-orange: #ff7a2e;

