@import "../../../variables.scss";

.not-found {
}
.not-found__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.not-found__container_bg-orange {
  background: $bg-not-found-page;
}
.not-found__box {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.not-found__img {
  width: 100%;
  height: 100%;
  position: absolute;
  img {
    object-fit: contain;
    position: absolute;
  }
}
.not-found__nav {
}
