<div class="recipes-box">
  <div class="recipes__container">

    <div class="recipes__loader" *ngIf="recipesService.isRecipesListLoading">
      loading...
    </div>

    <div *ngIf="recipesService.isNothingFound">
      nothing found
    </div>

  </div>

  <div class="recipes__cards" [ngClass]="{
			'recipes__cards_favourites': (recipesDataService.favouriteRecipesList.length !== 0) ? true : false
		}">
    <div *ngIf="recipesService.recipeResults.length > 0">
      <app-recipes-card *ngFor="let recipeEl of recipesService.pageOfItems;" [recipe]="recipeEl"
        (onAddRecipeToFavourite)="recipesService.addToFavourite($event)"
        (onDeleteRecipeFromFavourite)="recipesService.deleteFromFavourite($event)"
        (onCheckDetails)="recipesService.initRecipeDetails($event)"
        [isFavorite]="recipesService.checkForFavourite(recipeEl) ? true : false">
      </app-recipes-card>
    </div>

    <div *ngIf="recipesDataService.favouriteRecipesList.length > 0">
      <app-recipes-card *ngFor="let recipeLSEl of recipesService.pageOfItems;" [recipe]="recipeLSEl"
        (onDeleteRecipeFromFavourite)="recipesService.deleteFromFavourite($event)"
        (onCheckDetails)="recipesService.initRecipeDetails($event)"
        [isFavorite]="recipesService.checkForFavourite(recipeLSEl) ? true : false">
      </app-recipes-card>
    </div>

    <div *ngIf="recipesDataService.latestRecipesList.length > 0">
      <app-recipes-card *ngFor="let recipeLSEl of recipesService.pageOfItems;" [recipe]="recipeLSEl"
        (onAddRecipeToFavourite)="recipesService.addToFavourite($event)"
        (onDeleteRecipeFromFavourite)="recipesService.deleteFromFavourite($event)"
        (onCheckDetails)="recipesService.initRecipeDetails($event)"
        [isFavorite]="recipesService.checkForFavourite(recipeLSEl) ? true : false">
      </app-recipes-card>
    </div>

    <div *ngIf="recipesService.recipeWithDetails">
      <app-recipe-with-details-card *ngIf="recipesService.recipeWithDetails"
        [recipeWithDetails]="recipesService.recipeWithDetails">
      </app-recipe-with-details-card>
    </div>

  </div>

  <div class="recipes__container">
    <div class="recipes__paginator">
      <app-pagination *ngIf="recipesService.recipeResults.length > 0" [items]="recipesService.recipeResults"
        (changePage)="recipesService.onChangePage($event)">
      </app-pagination>

      <app-pagination *ngIf="recipesDataService.favouriteRecipesList.length > 0"
        [items]="recipesDataService.favouriteRecipesList" (changePage)="recipesService.onChangePage($event)">
      </app-pagination>

      <app-pagination *ngIf="recipesDataService.latestRecipesList.length > 0"
        [items]="recipesDataService.latestRecipesList" (changePage)="recipesService.onChangePage($event)">
      </app-pagination>
    </div>
  </div>

</div>
