<div class="recipes-box">
  <div class="recipes__cards">
    <div class="recipes__loader" *ngIf="recipesService.isRecipesListLoading">
      loading...
    </div>

    <button mat-raised-button class="recipes-side-bar__container-btn recipes-side-bar__container-btn_blue">
      <a class="app-main__menu-item" routerLink=''>
        home
      </a>
    </button>

    <div *ngIf="recipesService.isNothingFound">
      nothing found
    </div>

    <div [ngClass]="{
			'recipes__cards_favourites': (recipesDataService.favouriteRecipesList.length !== 0) ? true : false
		}">
      <div *ngIf="recipesService.recipeResults.length > 1">
        <app-recipes-card *ngFor="let recipeEl of recipesService.pageOfItems;" [recipe]="recipeEl"
          (onAddRecipeToFavourite)="recipesService.addToFavourite($event)"
          (onCheckDetails)="recipesService.initRecipeDetails($event.id)"
          [favouriteCardStructure]="recipesService.checkForFavourite(recipeEl) ? favouriteCard : null">
        </app-recipes-card>
      </div>

      <div *ngIf="recipesDataService.favouriteRecipesList.length > 1">
        <app-recipes-card *ngFor="let recipeLSEl of recipesService.pageOfItems;" [recipe]="recipeLSEl"
          (onCheckDetails)="recipesService.initRecipeDetails($event.id)"
          [favouriteCardStructure]="recipesDataService.favouriteRecipesList.includes(recipeLSEl) ? favouriteCard : null">
        </app-recipes-card>
      </div>

      <div *ngIf="recipesService.recipeWithDetails">
        <app-recipe-with-details-card *ngIf="recipesService.recipeWithDetails"
          [recipeWithDetails]="recipesService.recipeWithDetails">
        </app-recipe-with-details-card>
      </div>

    </div>

    <div class="recipes__paginator">
      <app-jw-pagination  *ngIf="recipesService.recipeResults.length > 1"
        [items]="recipesService.recipeResults" (changePage)="recipesService.onChangePage($event)">
      </app-jw-pagination>

      <app-jw-pagination *ngIf="recipesDataService.favouriteRecipesList.length > 1"
        [items]="recipesDataService.favouriteRecipesList" (changePage)="recipesService.onChangePage($event)">
      </app-jw-pagination>
    </div>

  </div>
</div>


<ng-template #favouriteCard>
  <button mat-raised-button>
    delete
  </button>
</ng-template>
