<div class="recipe-details">
  <div class="recipe-details__container">
    <div class="recipe-details__card">

      <div class="recipe-details__image">
        <img [src]="recipeWithDetails.image" alt="">
      </div>

      <!-- <div class="recipe-details__steps">
        <div *ngFor="let steps of recipeWithDetails.analyzedInstructions">
          <div *ngFor="let step of steps.steps">
            <h3>
              {{step.number}}
            </h3>
            <p>
              {{step.step}}
            </p>
          </div>
        </div>
      </div> -->

      <div class="recipe-details__body">
        <div class="recipe-details__body-head">
          <h1 class="recipe-details__title">
            {{ recipeWithDetails.title }}
          </h1>
          <h2 class="recipe-details__subtitle">
            Health Score
            <span [ngClass]="{
              'recipe-details__subtitle_red': recipeWithDetails.healthScore < 50,
              'recipe-details__subtitle_green': recipeWithDetails.healthScore >= 50
            }">
              {{ recipeWithDetails.healthScore }}
            </span>
          </h2>
        </div>

        <div class="recipe-details__box recipe-details__box_grid-list">

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <i class="fas fa-clock"></i>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                preparation minutes
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.preparationMinutes}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <i class="fas fa-hourglass"></i>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                ready in minutes
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.readyInMinutes}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <i class="fas fa-utensils"></i>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                servings
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.servings}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <i class="fas fa-star"></i>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                spoonacular score
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.spoonacularScore}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                How many it will cost?
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.pricePerServing | currency}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                weight watcher smart points:
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.weightWatcherSmartPoints}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                aggregateLikes:
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.aggregateLikes}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card" *ngIf="recipeWithDetails.cuisines.length > 0">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                cuisines
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.cuisines}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card" *ngIf="recipeWithDetails.dishTypes.length > 0">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                dish types
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.dishTypes}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card" *ngIf="recipeWithDetails.diets.length > 0">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                diets
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.diets}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card" *ngIf="recipeWithDetails.occasions.length > 0">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                when we can cook it?
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.occasions}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                is vegetarian?
              </p>
            </div>
            <div class="recipe-details__box-text recipe-details__box-text_booleans">
              <p class="recipe-details__subtitle_green" *ngIf="recipeWithDetails.vegetarian">
                yes
              </p>
              <p class="recipe-details__subtitle_red" *ngIf="!recipeWithDetails.vegetarian">
                no
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                is vegan?
              </p>
            </div>
            <div class="recipe-details__box-text recipe-details__box-text_booleans">
              <p class="recipe-details__subtitle_green" *ngIf="recipeWithDetails.vegan">
                yes
              </p>
              <p class="recipe-details__subtitle_red" *ngIf="!recipeWithDetails.vegan">
                no
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                is gluten Free?
              </p>
            </div>
            <div class="recipe-details__box-text recipe-details__box-text_booleans">
              <p class="recipe-details__subtitle_green" *ngIf="recipeWithDetails.glutenFree">
                yes
              </p>
              <p class="recipe-details__subtitle_red" *ngIf="!recipeWithDetails.glutenFree">
                no
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                is healthy?
              </p>
            </div>
            <div class="recipe-details__box-text recipe-details__box-text_booleans">
              <p class="recipe-details__subtitle_green" *ngIf="recipeWithDetails.veryHealthy">
                yes
              </p>
              <p class="recipe-details__subtitle_red" *ngIf="!recipeWithDetails.veryHealthy">
                no
              </p>
            </div>
          </div>

        </div>

        <div class="recipe-details__ingredients">
          <div class="recipe-details__ingredients-title">
            <h6>
              what you need to
              <span>
                cook
              </span>
            </h6>
          </div>
          <div class="recipe-details__ingredients-box">
            <div class="recipe-details__ingredients-element"
              *ngFor="let recipeIngredient of recipeWithDetails.extendedIngredients;">
              <img [src]="recipeIngredient.image" alt="" class="recipe-details__ingredients-image">
              <h4 class="recipe-details__ingredients-name">
                {{recipeIngredient.name}}
              </h4>
              <h5 class="recipe-details__ingredients-amount">
                {{recipeIngredient.amount}}
              </h5>
            </div>
          </div>
        </div>

        <div class="recipe-details__steps">
          <div class="recipe-details__steps-title">
            <h6>
              steps of
              <span>
                cooking
              </span>
            </h6>
          </div>

          <div *ngFor="let steps of recipeWithDetails.analyzedInstructions">
            <div *ngFor="let step of steps.steps">
              <div class="recipe-details__steps-box">
                <div class="recipe-details__steps-number">
                  <p>
                    {{step.number}}
                  </p>
                </div>
                <div class="recipe-details__steps-text">
                  <p>
                    {{step.step}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="recipe-details__recipe">
          <p class="recipe-details__recipe-title">
            <span>
              Full
            </span> way of cooking
          </p>
          <p class="recipe-details__recipe-text">
            {{ recipeWithDetails.instructions }}
          </p>
        </div>

        <div class="recipe-details__review">
          <div class="recipe-details__review-title">
            <p>
              Summary
            </p>
          </div>
          <p class="recipe-details__review-text recipe-details__review-text_with-el"
            [innerHTML]="recipeWithDetails.summary">
          </p>
        </div>

        <div class="recipe-details__source">
          <a [href]="recipeWithDetails.sourceUrl" class="recipe-details__link">
            Source
          </a>
        </div>

        <div class="recipe-details__adults">
          <div class="recipe-details__adults-title">
            <p>
              are you
              <span>
                18
              </span>
              ?
            </p>
          </div>
          <div class="recipe-details__adults-content">
            <div class="recipe-details__adults-title">
              <p>
                Instruction
              </p>
            </div>
            <div class="recipe-details__adults-instruction">
              <p>
                  {{recipeWithDetails.winePairing.pairingText}}
              </p>
            </div>
            <div class="recipe-details__adults-wines">
              <p>
                Winew Pairings:
                <span>
                  {{recipeWithDetails.winePairing.pairedWines}}
                </span>
              </p>
            </div>
          </div>
        </div>

      </div>


    </div>

    <div class="recipe-details__side-bar">
      <app-side-bar></app-side-bar>
    </div>

  </div>

</div>
