<div class="recipe-details">
  <div class="recipe-details__container">

    <div class="recipe-details__loader" *ngIf="recipesService.isRecipesListLoading">
      loading... recipe with details
    </div>

    <div class="recipe-details__card">

      <div class="recipe-details__image">
        <img [src]="recipeWithDetails.image" alt="">
      </div>

      <div class="recipe-details__header">
        <p>there will be stepper!</p>
        <!-- {{ recipeWithDetails.analyzedInstructions | json }} -->

      </div>

      <div class="recipe-details__body">
        <div class="recipe-details__body-head">
          <h1 class="recipe-details__title">
            {{ recipeWithDetails.title }}
          </h1>
          <h2 class="recipe-details__subtitle">
            Health Score
            <span [ngClass]="{
              'recipe-details__subtitle_red': recipeWithDetails.healthScore < 50,
              'recipe-details__subtitle_green': recipeWithDetails.healthScore >= 50
            }">
              {{ recipeWithDetails.healthScore }}
            </span>
          </h2>
        </div>

        <div class="recipe-details__box recipe-details__box_grid-list">

          <!-- card with icon -->
          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <p>icon</p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                preparationMinutes:
                <span>
                  {{recipeWithDetails.preparationMinutes}}
                </span>
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.preparationMinutes}}
              </p>
            </div>
          </div>

          <!-- card with icon -->
          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <p>icon</p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                readyInMinutes:
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.readyInMinutes}}
              </p>
            </div>
          </div>

          <!-- card with icon -->
          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <p>icon</p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                servings:
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.servings}}
              </p>
            </div>
          </div>

          <!-- card with icon -->
          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <p>icon</p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                spoonacularScore:
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.spoonacularScore}}
              </p>
            </div>
          </div>

          <!-- card with icon -->
          <div class="recipe-details__box-card">
            <div class="recipe-details__box-card-icon">
              <p>icon</p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                How many it will cost?
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.pricePerServing}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                weightWatcherSmartPoints:
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.weightWatcherSmartPoints}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                aggregateLikes:
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.aggregateLikes}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card" *ngIf="recipeWithDetails.cuisines.length > 0">
            <!-- *ngIf="recipeWithDetails.cuisines" -->
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                Cuisines(kitchens):
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.cuisines}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                DIsh Types
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.dishTypes}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card" *ngIf="recipeWithDetails.diets.length > 0">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                any Diets here?
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.diets}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card" *ngIf="recipeWithDetails.occasions.length > 0">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                when we can cook it?
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle">
                {{recipeWithDetails.occasions}}
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                is vegetarian
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle" *ngIf="recipeWithDetails.vegetarian">
                yes
              </p>
              <p class="recipe-details__box-text-subtitle" *ngIf="!recipeWithDetails.vegetarian">
                no
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                is vegan
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle" *ngIf="recipeWithDetails.vegan">
                yes
              </p>
              <p class="recipe-details__box-text-subtitle" *ngIf="!recipeWithDetails.vegan">
                no
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                is gluten Free
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle" *ngIf="recipeWithDetails.glutenFree">
                yes
              </p>
              <p class="recipe-details__box-text-subtitle" *ngIf="!recipeWithDetails.glutenFree">
                no
              </p>
            </div>
          </div>

          <div class="recipe-details__box-card">
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-title">
                is healthy?
              </p>
            </div>
            <div class="recipe-details__box-text">
              <p class="recipe-details__box-text-subtitle" *ngIf="recipeWithDetails.veryHealthy">
                yes
              </p>
              <p class="recipe-details__box-text-subtitle" *ngIf="!recipeWithDetails.veryHealthy">
                no
              </p>
            </div>
          </div>

        </div>

        <div class="recipe-details__need-things">
          <div class="recipe-details__ingridients">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  What Ingridients you need?
                </mat-panel-title>
                <mat-panel-description>
                  {{ !panelOpenState ? 'Let see, open me' : ''}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="recipe-details__ingridients-image"
                *ngFor="let recipeIngredient of recipeWithDetails.extendedIngredients;">
                <img [src]="recipeIngredient.image" alt="">
                <h1>{{recipeIngredient.name}}</h1>
                <h2>{{recipeIngredient.amount}}</h2>
              </div>
            </mat-expansion-panel>
          </div>
        </div>

        <div class="recipe-details__recipe">
          <h3 class="recipe-details__recipe-title">
            All way of cooking
          </h3>
          <p class="recipe-details__recipe-text recipe-details-text_with-el">
            {{ recipeWithDetails.instructions }}
          </p>
        </div>

        <div class="recipe-details__adults">
          <div class="recipe-details__check">
            are you 18?
          </div>
          <div class="recipe-details__adults-content">
            <div class="recipe-details__adults-instruction">
              <p>
                Wine Instruction
                <span>
                  {{recipeWithDetails.winePairing.pairingText}}
                </span>
              </p>
            </div>
            <div class="recipe-details__adults-wines">
              <p>
                Winew Pairings winew
                <span>
                  {{recipeWithDetails.winePairing.pairedWines}}
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="recipe-details__review">
          <div class="recipe-details__review-title">
            Summary
          </div>
          <p class="recipe-details__review-text recipe-details__review-text_with-el"
            [innerHTML]="recipeWithDetails.summary">
          </p>
        </div>

        <div class="recipe-details__source">
          <a [href]="recipeWithDetails.sourceUrl" class="recipe-details__link">
            Source
          </a>
        </div>

      </div>


    </div>
  </div>

</div>

<!-- <app-side-bar></app-side-bar> -->
