<div class="recipe-card">

  <div class="recipe-card__header">
    <div class="recipe-card__header-img">
      <img [src]="recipe.image" alt="">
    </div>
  </div>

  <div class="recipe-card__body">
    <div class="recipe-card__body-cont">

      <div class="recipe-card__title">
        <h1>{{ recipe.title }}</h1>
      </div>

      <div class="recipe-card__inf">
        <div class="recipe-card__inf-element" *ngFor="let nutritionEl of recipe.nutrition">
          <p>{{nutritionEl.title}}</p>
          <p>{{ nutritionEl.amount }}</p>
          <p>{{ nutritionEl.unit }}</p>
        </div>
      </div>


    </div>
    <div>
      <button mat-raised-button (click)="addRecipeToFavourite()" *ngIf="!isFavorite">
        add to favorite :3
      </button>

      <button mat-raised-button (click)="deleteRecipeFromFavourite()" *ngIf="isFavorite">
        delete
      </button>


      <button mat-raised-button (click)="checkDetails()">
        check details
      </button>

    </div>
  </div>

</div>
