@import "../../../../../variables.scss";

.recipe-card {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  background: $bg-white;
  box-shadow: $blocks-shadow;
  overflow: hidden;

  &__header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    &-img {
    }
  }
  &__body {
    &-cont {
      margin: 0 auto;
      padding: 15px 10px 20px 10px;
      position: relative;
      z-index: 2;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-white;
    box-shadow: 0px -30px 30px 40px rgba(255, 255, 255, 1);

    h2 {
      text-align: center;
      color: $text-title-dark;
      text-transform: uppercase;
      line-height: 35px;
      font-size: 22px;
    }
  }
  &__inf {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    &-element {
      display: flex;
      margin: 20px 0;
      p {
        font-size: 14px;
      }
    }
    &-title {
      color: $text-orange;
    }
    &-amount {
      margin: 0 5px 0 10px;
      color: $text-title-light-dark;
    }
    &-unit {
      color: $text-title-light-dark;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__btn {
    background: $bg-white;
    margin-right: 10px;
    transition: all 0.6s;
    text-transform: capitalize;
    font-family: $text-main-font;
    font-size: 16px;

    &_favourite-add {
      color: $text-orange;
    }
    &_favourite-delete {
      color: $text-orange;
    }
    &_details {
      color: $text-title-light-dark;
    }

    &:hover {
      transition: all 0.6s;
      background: $bg-orange;
      color: $text-white;
    }
  }
}

@media (max-width: 640px) {
  .recipe-card {
    width: 90%;
    margin: 20px auto 0 auto;
  }
  .recipe-card__header-img {
    img {
      min-height: 150px;
      width: 100%;
    }
  }
  .recipe-card__inf {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
