<div class="recipe-card">

  <div class="recipe-card__header">
    <div class="recipe-card__header-img">
      <img [src]="recipe.image" alt="">
    </div>
  </div>

  <div class="recipe-card__body">
    <div class="recipe-card__body-cont">

      <div class="recipe-card__title">
        <h1>{{ recipe.title }}</h1>
      </div>

      <div class="recipe-card__inf">
        <div class="recipe-card__inf-element">
          <p>Recipe readyInMinutes: {{ recipe.readyInMinutes }}</p>
        </div>
        <div class="recipe-card__inf-element">
          <p>Recipe servings: {{ recipe.servings }}</p>
        </div>
      </div>

      <div class="recipe-card__source">
        <a [href]="recipe.sourceUrl">Recipe source</a>
      </div>
    </div>
    <div>
      <ng-container>
        <div *ngTemplateOutlet="favouriteCardStructure || defaultSearchCard">

        </div>
      </ng-container>


      <button mat-raised-button (click)="checkDetails()">
          check details
      </button>

      <!-- <button mat-raised-button>
        <a (click)="checkDetails()" routerLink='/recipe-details'>
          check details
        </a>
      </button> -->

    </div>
  </div>

</div>


<ng-template #defaultSearchCard>
  <button mat-raised-button (click)="addRecipeToFavourite()">
    add to favorite :3
  </button>
</ng-template>
