<div class="search-box">
  <div class="search-box__container">

    <div class="search-box__header">
      <div class="search-box__title">
        <h1>Find your today recipe</h1>
      </div>
      <div class="search-box__joke">
        <p>
          {{ recipesService.jokeStr }}
        </p>
      </div>
    </div>

    <div class="search-box__search">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="recipesService.searchString">
      </mat-form-field>
      <button mat-raised-button (click)="recipesService.onSearchRecipes(recipesService.searchString)">
        find recipes
      </button>
    </div>

    <div class="search-box__search">

      <div class="search-box__cuisines">
        <p>
          Include cuisines
        </p>
        <mat-checkbox [checked]="recipesDataService.allComplete"
        [indeterminate]="recipesDataService.someComplete()"
        (change)="recipesDataService.setAll($event.checked)">
          All
        </mat-checkbox>

        <ul class="search-box__cuisines-list">
          <li class="search-box__cuisines-item" *ngFor="let cuisinesEl of recipesDataService.selectCuisinesValues.cuisinesValues">
            <mat-checkbox [(ngModel)]="cuisinesEl.complete"
            (ngModelChange)="recipesDataService.updateAllComplete()">
              {{cuisinesEl.name}}
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
