<div class="search-box">
  <div class="search-box__container">

    <div class="search-box__header">
      <div class="search-box__title">
        <h1>Find your today recipe</h1>
      </div>
      <div class="search-box__joke">
        <p>
          {{ recipesService.jokeStr }}
        </p>
      </div>
    </div>

    <div class="search-box__search">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="recipesService.searchString">
      </mat-form-field>
      <button mat-raised-button (click)="recipesService.onSearchRecipes(recipesService.searchString)">
        find recipes
      </button>
    </div>

    <div class="search-box__search">
      <mat-form-field>
        <mat-label>Favorite cuisine(kitchen)</mat-label>
        <mat-select>
          <mat-option *ngFor="let cuisinesEl of recipesDataService.selectCuisinesValues">
            {{cuisinesEl}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>
