<div class="search-box">
  <div class="search-box__container">

    <div class="search-box__header">
      <div class="search-box__title">
        <h1>Find your today recipe</h1>
      </div>
      <div class="search-box__joke">
        <p>
          {{ recipesService.jokeStr }}
        </p>
      </div>
    </div>

    <div class="search-box__search">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="recipesService.searchString">
      </mat-form-field>
      <button mat-raised-button (click)="recipesService.onSearchRecipes(recipesService.searchString)">
        find recipes
      </button>
    </div>

    <div class="search-box__filters">
      <mat-expansion-panel class="search-box__filters-element" (opened)="recipesService.filterPanelCuisine = true"
        (closed)="recipesService.filterPanelCuisine = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ recipesService.filterPanelCuisine ? 'Click to hide filters' : ' Open me if you want some filters'}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="search-box__cuisines">
          <div class="search-box__cuisines-box">
            <p>
              Include cuisines
            </p>
            <mat-checkbox [checked]="recipesDataService.allIncludeComplete"
              [indeterminate]="recipesDataService.someIncludeComplete()"
              (change)="recipesDataService.setAllInclude($event.checked)">
              All
            </mat-checkbox>
            <ul class="search-box__cuisines-list">
              <li class="search-box__cuisines-item"
                *ngFor="let cuisinesEl of recipesDataService.selectCuisinesValues.cuisinesInclude">
                <mat-checkbox [(ngModel)]="cuisinesEl.complete"
                  (ngModelChange)="recipesDataService.updateAllIncludeComplete()">
                  {{cuisinesEl.name}}
                </mat-checkbox>
              </li>
            </ul>
          </div>
          <div class="search-box__cuisines-box">
            <p>
              Exclude cuisines
            </p>
            <mat-checkbox [checked]="recipesDataService.allExcludeComplete"
              [indeterminate]="recipesDataService.someExcludeComplete()"
              (change)="recipesDataService.setAllExclude($event.checked)">
              All
            </mat-checkbox>
            <ul class="search-box__cuisines-list">
              <li class="search-box__cuisines-item"
                *ngFor="let cuisinesEl of recipesDataService.selectCuisinesValues.cuisinesExclude">
                <mat-checkbox [(ngModel)]="cuisinesEl.complete"
                  (ngModelChange)="recipesDataService.updateAllExcludeComplete()">
                  {{cuisinesEl.name}}
                </mat-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>


      <mat-expansion-panel class="search-box__filters-element" (opened)="recipesService.filterPanelCalories = true"
        (closed)="recipesService.filterPanelCalories = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ recipesService.filterPanelCalories ? 'Click to hide your calories) filters' : ' Open me if you want some calories filters'}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="search-box__sliders">
          <div class="search-box__sliders-box">
            <div class="search-box__sliders-title">
              <p>
                min calories
              </p>
            </div>
            <div class="search-box__slider-sec">
              <div class="search-box__slider-nav">
                <mat-form-field>
                  <mat-label>min calories value</mat-label>
                  <input matInput type="number" [(ngModel)]="recipesService.caloriesMinValue">
                </mat-form-field>
              </div>
              <mat-slider class="search-box__slider" min="10" max="50" step="10"
                [value]="recipesService.caloriesMinValue" [thumbLabel]="recipesService.thumbLabelSliders"
                [(ngModel)]="recipesService.caloriesMinValue"></mat-slider>
            </div>
          </div>
          <div class="search-box__sliders-box">
            <div class="search-box__sliders-title">
              <p>
                max calories
              </p>
            </div>
            <div class="search-box__slider-sec">
              <div class="search-box__slider-nav">
                <mat-form-field>
                  <mat-label>max calories value</mat-label>
                  <input matInput type="number" [(ngModel)]="recipesService.caloriesMaxValue">
                </mat-form-field>
              </div>
              <mat-slider class="search-box__slider" min="50" max="1000" step="10"
                [value]="recipesService.caloriesMaxValue" [thumbLabel]="recipesService.thumbLabelSliders"
                [(ngModel)]="recipesService.caloriesMaxValue"></mat-slider>
            </div>
          </div>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="search-box__filters-element" (opened)="recipesService.filterPanelReadyTime = true"
        (closed)="recipesService.filterPanelReadyTime = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ recipesService.filterPanelReadyTime ? 'Click to hide ready time filters' : ' search by ready time'}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="search-box__sliders">
          <div class="search-box__sliders-box">
            <div class="search-box__sliders-title">
              <p>
                max ready time
              </p>
            </div>
            <div class="search-box__slider-sec">
              <div class="search-box__slider-nav">
                <mat-form-field>
                  <mat-label>max ready time</mat-label>
                  <input matInput type="number" [(ngModel)]="recipesService.readyTime">
                </mat-form-field>
              </div>
              <mat-slider class="search-box__slider" min="0" max="1000" step="10" [value]="recipesService.readyTime"
                [thumbLabel]="recipesService.thumbLabelSliders" [(ngModel)]="recipesService.readyTime"></mat-slider>
            </div>
          </div>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="search-box__filters-element" (opened)="recipesService.filterPanelDiets = true"
        (closed)="recipesService.filterPanelDiets = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ recipesService.filterPanelDiets ? 'Click to hide diets' : ' search by diets'}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="search-box__sliders">
          <div class="search-box__sliders-box">
            <div class="search-box__sliders-title">
              <p>
                choise diet
              </p>
            </div>
            <div class="search-box__slider-sec">
              <div class="search-box__slider-nav">
                <mat-form-field>
                  <mat-label>diets</mat-label>
                  <mat-select [(ngModel)]="recipesService.selectedDiet">
                    <mat-option [value]="">
                      none
                    </mat-option>
                    <mat-option *ngFor="let diet of recipesDataService.selectDietsValues" [value]="diet">
                      {{ diet }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

      </mat-expansion-panel>


      <mat-expansion-panel class="search-box__filters-element" (opened)="recipesService.filterPanelSorting = true"
        (closed)="recipesService.filterPanelSorting = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ recipesService.filterPanelSorting ? 'Click to hide sorts' : ' sort somethings'}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="search-box__sliders">
          <div class="search-box__sliders-box">
            <div class="search-box__sliders-title">
              <p>
                choise sorting
              </p>
            </div>
            <div class="search-box__slider-sec">
              <div class="search-box__slider-nav">
                <mat-form-field>
                  <mat-label>sorting option</mat-label>
                  <mat-select [(ngModel)]="recipesService.selectedSorting">
                    <mat-option [value]="">
                      none
                    </mat-option>
                    <mat-option *ngFor="let sortBy of recipesDataService.selectSortingsValues" [value]="sortBy">
                      {{ sortBy }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="search-box__sliders-box">
            <div class="search-box__sliders-title">
              <p>
                choise sorting order
              </p>
            </div>
            <div class="search-box__slider-sec">
              <div class="search-box__slider-nav">
                <mat-form-field>
                  <mat-label>sorting option</mat-label>
                  <mat-select [(ngModel)]="recipesService.selectedSortingDirection">
                    <mat-option [value]="">
                      none
                    </mat-option>
                    <mat-option value="asc">
                      ascending
                    </mat-option>
                    <mat-option value="desc">
                      descending
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

      </mat-expansion-panel>



    </div>


  </div>
</div>
